!<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">
<main>
    <div class="jumbotron">
      <h1>Welcome to ExpressTix</h1>

      <ul>
		<% tickets.forEach(function(ticket) { %>
			<div>
				<div class="container-fluid">
					<li>Username: <%= ticket.title %></li>
					<img  
					src="data:image/<%= ticket.img.contentType %>;base64, 
					<%= ticket.img.data.toString('base64') %>">
					<li>
						Description: <%= ticket.desc %>
						Ticket offer: <%= "$" + ticket.offer + ".00" %>
						Ticket id: <%= ticket.id %> 
					</li>
				</div>
			</div>
		<% }) %>
	</ul>
    </div>
  </main>
  
</body>
</html>


