<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
</head>

<body>
	<h1>Create a new ticket</h1>
	<hr>
	<div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div>
			<strong><label for="title">New ticket: </label></strong>	
				<input type="text" id="title" name="title" placeholder="New ticket request"
					 title="title" >
			</div>
			<div>
				<strong><label for="offer">Payment: </label></strong>	
					<input type="text" id="offer" name="offer" placeholder="Payment offer">
				</div>
			<div>
			<strong><label for="desc">Description: </label></strong>	
				<textarea id="desc" name="desc" rows="1"
						placeholder="Description">
				</textarea>
			</div>
			<div>
			<strong><label for="image">Add photo: </label></strong>	
				<input type="file" id="image"
					name="image">
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

	<hr>

	<h1>Ticket Listing</h1>
	<div>
		<% items.forEach(function(ticket) { %>
		<div>
			<div>
				<h5><%= ticket.title %></h5>
				<img  src="data:image/<%= ticket.img.contentType %>;base64, 
					<%= ticket.img.data.toString('base64') %>">
				<div>
					<p><%= ticket.desc %></p>
					<p><%= ticket.offer %></p>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</body>

</html>
